.Button {
  padding: 18px 36px;
  border-style: solid;
  border-width: 2px;
  border-color: #084b6d;
  background-color: transparent;
  -webkit-transition: color 200ms ease, background-color 200ms ease;
  transition: color 200ms ease, background-color 200ms ease;
  color: black;
  font-size: 1.3em;
  text-align: center;
  text-decoration: none;
}

.Button:hover {
  background-color: black;
  color: #f8fbf3;
}
