.PhotoBg {
  position: relative;
  width: 100%;
  max-width: 1400px;
  height: 80vmin;
  min-height: 700px;
  margin: 16vmin auto;
}

.PhotoMobile {
  display: none !important;
}

a.Resume,
a.Resume:after,
a.Resume:visited {
  color: #111111;
  cursor: pointer;
}

.ContactList {
  margin: 0vmin 0 20vmin 0;
}

@media screen and (max-width: 767px) {
  .PhotoBg {
    height: 140vmin;
    min-height: 300px;
    margin: 16vmin auto;
  }
  .PhotoDesktop {
    display: none !important;
  }

  .PhotoMobile {
    display: block !important;
  }
}
